<% include layout %>
<div class="container">
    <form class="form-signin" role="form" action="/login" method="post">
            <h2 class="form-signin-heading">Đăng nhập</h2>
            <label class="sr-only" for="inputUsername"></label>
            <input class="form-control" type="text" name="username" id="inputUsername" placeholder="Username" required="required" autofocus="autofocus"/>
            <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
    </form>
</div>