<% include layout %>
<div class="container">
    <form class="form-signin" role="form" action="/register" method="post" style="max-width: 300px">
            <h2 class="form-signin-heading">Đăng ký</h2>
            <input class="form-control" type="text" name="username" placeholder="Your Username(*)"/>
            <input class="form-control" type="password" name="password" placeholder="Your Password(*)"/>
            <input class="form-control" type="text" name="studentid" placeholder="Your student ID"/>            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>